.dialog-center ::v-deep .el-divider--horizontal {
  margin: 0; }
.dialog-center ::v-deep .el-form-item--small.el-form-item {
  margin-bottom: 14px; }
.dialog-center .second-title {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  margin: 12px 0; }
.dialog-center .up {
  display: flex; }
.dialog-center .up-border {
  border-bottom: 1px solid  #dedede; }
.dialog-center .upload-text {
  text-align: center;
  font-size: 12px;
  color: #333333;
  margin-top: 8px; }
.dialog-center .down {
  padding-top: 16px; }
  .dialog-center .down .title {
    color: #111; }
.dialog-center .dialog-form {
  flex: 1;
  margin-right: 15%;
  box-sizing: border-box; }
.dialog-center .dialog-upload {
  width: 50%;
  padding: 14px 16px;
  height: 200px;
  border: 1px solid #e6e6e6; }
  .dialog-center .dialog-upload .tips {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px; }
    .dialog-center .dialog-upload .tips .title {
      color: #111; }
    .dialog-center .dialog-upload .tips span {
      font-size: 12px;
      margin-left: 8px;
      color: #888; }
.dialog-center .dialog-left {
  padding-right: 16px;
  flex: 1;
  width: 1px;
  border-right: 1px solid #dedede; }
  .dialog-center .dialog-left .list-wrapper {
    padding-left: 8px;
    height: 340px;
    overflow-y: auto; }
    .dialog-center .dialog-left .list-wrapper li {
      width: 100%; }
      .dialog-center .dialog-left .list-wrapper li .subject-name {
        display: inline-block;
        min-width: 3em;
        margin-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .dialog-center .dialog-left .list-wrapper li + li {
        margin-top: 8px; }
      .dialog-center .dialog-left .list-wrapper li ::v-deep .el-checkbox {
        display: inline-flex;
        max-width: 100%; }
        .dialog-center .dialog-left .list-wrapper li ::v-deep .el-checkbox .el-checkbox__input {
          padding-top: 3px; }
        .dialog-center .dialog-left .list-wrapper li ::v-deep .el-checkbox .el-checkbox__label {
          display: inline-flex;
          flex: 1;
          max-width: 100%;
          vertical-align: text-top;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
    .dialog-center .dialog-left .list-wrapper .choose-box {
      margin: 8px 0 8px 24px; }
      .dialog-center .dialog-left .list-wrapper .choose-box .label {
        font-size: 12px;
        margin-right: 8px; }
.dialog-center .dialog-right {
  width: 300px;
  flex-shrink: 0;
  max-height: 400px;
  padding: 0 8px 0 16px;
  overflow-y: auto; }
  .dialog-center .dialog-right .title {
    font-weight: 500;
    color: #111;
    margin-bottom: 16px; }
  .dialog-center .dialog-right .checked-tip {
    font-size: 12px;
    font-weight: normal; }
    .dialog-center .dialog-right .checked-tip .tip-num {
      padding: 0 1px;
      color: #3388FF; }
  .dialog-center .dialog-right ul {
    display: flex;
    flex-wrap: wrap; }
    .dialog-center .dialog-right ul li {
      display: flex;
      color: #bbb;
      padding: 8px;
      border-radius: 2px;
      background: #f2f4f6;
      margin: 0 8px 8px 0;
      cursor: pointer; }
      .dialog-center .dialog-right ul li .text {
        margin-right: 4px; }
        .dialog-center .dialog-right ul li .text span {
          flex: 1;
          color: #333;
          margin-right: 8px; }

.edit-subject-dialog ::v-deep .el-dialog__body {
  height: 500px;
  overflow: auto;
  padding: 16px 24px; }

/*# sourceMappingURL=party.css.map */
